<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
	<meta charset="utf-8" />
	<title>Envio de Mensagens</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
	<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/home.css}">
</head>

<body>
	<header class="div-header">
		<ul class="my-ul">
			<li class="my-li"><a class="my-a" th:href="home">ENVIAR</a></li>
			<li class="my-li"><a class="my-a" th:href="chat">CHAT</a></li>
			<li class="my-li"><a class="my-a" th:href="register">USUÁRIOS</a></li>
			<li class="my-li"><a class="my-a" th:href="@{/logout}">SAIR</a></li>
		</ul>
	</header>
	<div class="container">
		<div class="card">
			<div class="card-body">
				<input type="file" id="excel_file" />
				<button type="button" id="export_button" class="btn btn-success btn-sm">
					Exportar
				</button>
			</div>
		</div>
		<div id="excel_data" class="mt-3"></div>
	</div>

	<!-- The Modal -->
	<div id="myModal" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<div class="form-save">
				<div class="container2">
					<label for="waiting"><b>Enviando mensagens, aguarde </b></label>
					<div class="col-3">
						<div class="snippet" data-title="dot-typing">
							<div class="stage">
								<div class="dot-typing"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script th:src="@{/js/home.js}"></script>
</body>

</html>