<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/stomp.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" th:href="@{/css/convenios.css}" />
	<link rel="stylesheet" th:href="@{/css/hamburger.css}">
	<script defer th:type="module" th:src="@{/js/convenios.js}"></script>
	<link rel="icon" type="image/x-icon" th:href="@{/img/imav-icon.jpg}">
	<title>Convênios</title>
</head>

<body>

	<label class="hamburger" onclick="toggleHamburger(this)">
		<div class="bar1"></div>
		<div class="bar2"></div>
		<div class="bar3"></div>
	</label>

	<nav class="nav-bar" id="nav-bar-div">
		<ul id="div-ul">
			<div sec:authorize="hasAuthority('NF')">
				<li><a onclick="disconnect()" th:href="particular">NF Particular</a></li>
				<li><a onclick="disconnect()" th:href="notafiscal">Nota Fiscal</a></li>
				<li><a onclick="disconnect()" id="active" class="active" th:href="convenios">Convênios</a></li>
			</div>

			<div sec:authorize="hasAuthority('USER')">
				<li><a onclick="disconnect()" th:href="particular">NF Particular</a></li>
				<li><a onclick="disconnect()" th:href="notafiscal">Nota Fiscal</a></li>
				<li><a onclick="disconnect()" id="active" class="active" th:href="convenios">Convênios</a></li>
				<li><a onclick="disconnect()" th:href="send">Enviar Agenda</a></li>
				<li><a onclick="disconnect()" th:href="chat">Chat</a></li>
				<li><a onclick="disconnect()" th:href="confirmation">Confirmação</a></li>
			</div>

			<div sec:authorize="hasAuthority('ADMIN')">
				<li><a onclick="disconnect()" th:href="particular">NF Particular</a></li>
				<li><a onclick="disconnect()" th:href="notafiscal">Nota Fiscal</a></li>
				<li><a onclick="disconnect()" id="active" class="active" th:href="convenios">Convênios</a></li>
				<li><a onclick="disconnect()" th:href="send">Enviar Agenda</a></li>
				<li><a onclick="disconnect()" th:href="chat">Chat</a></li>
				<li><a onclick="disconnect()" th:href="confirmation">Confirmação</a></li>
				<li><a onclick="disconnect()" th:href="register">Configurações</a></li>
			</div>

			<div id="exit-config">
				<li class="exit">
					<a onclick="disconnect()" th:href="@{/logout}"><i class="fa fa-sign-out fa-1.5x" aria-hidden="true">
							Sair</i></a>
				</li>
				<li class="exit">
					<a onclick="disconnect()" th:href="config">
						<i class="fa fa-user fa-1.5x" aria-hidden="true">
							<span> </span>
							<span id="my-username">
								<span th:remove="tag" sec:authentication="name"></span>
							</span>
						</i>
					</a>
				</li>
			</div>

			<li id="exit" class="exit">
				<!-- Websocket alert goes here -->
			</li>
		</ul>
	</nav>

	<div class="main-div">

		<div class="left-space">
			<div class="left-div">
				<div class="header-div">

					<label for="pesquisa">Pesquisa Convênio</label>
					<input type="text" class="pesquisa" id="pesquisa">

					<label for="convenio">Convênio</label>
					<div id="select-convenio">
						<!-- select goes here -->
					</div>

				</div>

				<div class="new-convenio" id="new-convenio" sec:authorize="hasAuthority('ADMIN')">
					<h4>Cadastrar convênio</h4>
					<button>Novo</button>
				</div>

			</div>

			<div class="convenios" id="convenios">
				<!-- convenios go here -->
			</div>

			<div class="info-div-display" id="info-div-display">
				<!-- information goes here -->
			</div>

		</div>

		<div class="right-space" id="right-space">
			<div class="right-div">
				<div class="header-div">
					<h4 id="type-plano"></h4>
					<input type="text" class="pesquisa" id="pesquisa-plano">
					<div id="convenio-name"></div>
				</div>
			</div>

			<div class="data-div" id="data-div">
				<!-- Planos and Redes go here -->
			</div>

		</div>
	</div>

</body>

</html>