<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
	<title>IMAV</title>
	<link rel="stylesheet" th:href="@{/css/login.css}" />
</head>

<body>
	<nav class="nav-bar">
		<ul>
			<li><a th:href="privacy-and-policy">Política e Privacidade</a></li>
		</ul>
	</nav>

	<div th:if="${param.error}" class="error">
		<a>Nome de usuário ou senha inválida.</a>
	</div>
	<div th:if="${param.logout}" class="logout">
		<a>Você não está mais conectado</a>
	</div>



	<form th:action="@{/login}" method="post" class="form-div">
		<div class="container">
			<h1>IMAV</h1>
			<hr />

			<label for="username"><b>Nome</b></label>
			<input type="text" placeholder="Nome" name="username" id="username" required />

			<label for="psw"><b>Senha</b></label>
			<input type="password" placeholder="Senha" name="password" id="password" required />

			<hr />

			<button type="submit" class="loginbtn">Entrar</button>
		</div>
	</form>

	<div class="whatsapp-div">
		<a href="https://api.whatsapp.com/send?phone=551143671577"></a>
	</div>

	<div class="footer">
		<div class="footer-inner">
			<div class="footer-div">Endereço: Av. Ministro Oswaldo Aranha, 207</div>
			<div class="footer-div">Rudge Ramos, São Bernardo do Campo, SP</div>
			<div class="footer-div">Telefone: (11) 4367-1577</div>
		</div>
		<div class="footer-inner">
			<div class="footer-div">E-mail: contato@imav.com.br</div>
			<div class="footer-div">Webmaster: webmaster@imav.com.br</div>
			<div class="footer-div">© 2023 IMAV. Todos os direitos reservados</div>
		</div>
	</div>
</body>

</html>