<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/stomp.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/notafiscal.css}" />
	<link rel="stylesheet" th:href="@{/css/hamburger.css}">
	<script defer th:type="module" th:src="@{/js/notafiscal.js}"></script>
	<link rel="icon" type="image/x-icon" th:href="@{/img/imav-icon.jpg}">
	<title>Nota Fiscal</title>
</head>

<body>

	<div id="username" sec:authentication="name"></div>

	<div class="hamburger" onclick="toggleHamburger(this)">
		<div class="bar1"></div>
		<div class="bar2"></div>
		<div class="bar3"></div>
	</div>

	<nav class="nav-bar">
		<ul id="div-ul">
			<div sec:authorize="hasAuthority('NF')">
				<li><a onclick="disconnect()" th:href="particular">NF Particular</a></li>
				<li><a onclick="disconnect()" id="active" class="active" th:href="notafiscal">Nota Fiscal</a></li>
				<li><a onclick="disconnect()" th:href="convenios">Convênios</a></li>
			</div>

			<div sec:authorize="hasAuthority('USER')">
				<li><a onclick="disconnect()" th:href="particular">NF Particular</a></li>
				<li><a onclick="disconnect()" id="active" class="active" th:href="notafiscal">Nota Fiscal</a></li>
				<li><a onclick="disconnect()" th:href="convenios">Convênios</a></li>
				<li><a onclick="disconnect()" th:href="send">Enviar Agenda</a></li>
				<li><a onclick="disconnect()" th:href="chat">Chat</a></li>
				<li><a onclick="disconnect()" th:href="confirmation">Confirmação</a></li>
			</div>

			<div sec:authorize="hasAuthority('ADMIN')">
				<li><a onclick="disconnect()" th:href="particular">NF Particular</a></li>
				<li><a onclick="disconnect()" id="active" class="active" th:href="notafiscal">Nota Fiscal</a></li>
				<li><a onclick="disconnect()" th:href="convenios">Convênios</a></li>
				<li><a onclick="disconnect()" th:href="send">Enviar Agenda</a></li>
				<li><a onclick="disconnect()" th:href="chat">Chat</a></li>
				<li><a onclick="disconnect()" th:href="confirmation">Confirmação</a></li>
				<li><a onclick="disconnect()" th:href="register">Configurações</a></li>
			</div>

			<div id="exit-config">
				<li class="exit">
					<a onclick="disconnect()" th:href="@{/logout}"><i class="fa fa-sign-out fa-1.5x" aria-hidden="true">
							Sair</i></a>
				</li>
				<li class="exit">
					<a onclick="disconnect()" th:href="config"><i class="fa fa-user fa-1.5x" aria-hidden="true"><span>
							</span> <span th:remove="tag" sec:authentication="name"> </span></i></a>
				</li>
			</div>

			<li id="exit" class="exit">
				<!-- Websocket alert goes here -->
			</li>
		</ul>
	</nav>

	<div class="division">

		<div class="side-menu">
			<div class="side-menu-ul">
				<div class="side-menu-li" id="nf-menu" onclick="setNfMenu()">Lista de NFs</div>
				<div class="side-menu-li" id="relatorio-menu" onclick="setNfRelatorio()">Relatórios</div>
			</div>
		</div>

		<!-- NF Lista-->
		<div class="nf-div" id="nf-div">
			<div class="division2" id="division2">
				<div class="div-datepicker">
					<input id="datepicker" type="date" format="dd/mm/yyyy" class="datepicker"
						data-date-format="dd/MM/yyyy">
					<div class="div-pesquisa">
						<label for="pesquisa">Pesquisa</label>
						<input type="text" class="pesquisa" id="pesquisa">
					</div>
				</div>

				<div class="div-customers">
					<h4 id="h4-nf">Lista de Notas fiscais</h4>
					<!-- Table -->
					<div id="data-table">

					</div>
				</div>

			</div>

			<div class="customer-div" id="customer-div">
				<!-- Data -->
			</div>
		</div>


		<!-- NF Lista-->
		<div class="relatorio-div" id="relatorio-div">
			<div class="left-side">
				<div class="div-datepicker-relatorio" id="month-div">

					<h4 id="h4-nf">Relatório Mensal</h4>
					<label for="start">Selecione o mês</label>
					<input class="datepicker" type="month" id="start" name="start" min="02-2024" />
				</div>

				<div class="div-datepicker-relatorio" id="month-div">
					<h4 id="h4-nf">Médico Solicitante</h4>
					<select name="medico" id="medico1" required>
						<option value selected disabled>Selecione *</option>
						<option value="Bruno Abatti">Bruno A. Greggio</option>
						<option value="Carlos Roberto">Carlos R. Oliveira</option>
						<option value="Edilene Mingues">Edilene M. Fernandes</option>
						<option value="Fernanda Marció">Fernanda Marció</option>
						<option value="Gustavo Mansur">Gustavo Mansur</option>
						<option value="Outro">Outro</option>
					</select>
				</div>

				<!-- Exames -->
				<div class="exames-relatorio">
					<h4>Exames</h4>

					<!-- Checkbox -->
					<input type="number" value="10" min="0" max="100" id="biometria1" />
					<label for="biometria1">% Biometria</label>
					<br>

					<input type="number" value="10" min="0" max="100" id="campimetria1" />
					<label for="campimetria1">% Campimetria</label>
					<br>

					<input type="number" value="10" min="0" max="100" id="capsulotomia1" />
					<label for="capsulotomia1">% Capsulotomia</label>
					<br>

					<input type="number" value="10" min="0" max="100" id="curva-tensional1" />
					<label for="curva-tensional1">% Curva Tensional</label>
					<br>

					<input type="number" value="10" min="0" max="100" id="teste-ortoptico1" />
					<label for="teste-ortoptico1">% Teste Ortóptico</label>
					<br>

					<input type="number" value="10" min="0" max="100" id="fotocoagulacao-a-laser1" />
					<label for="fotocoagulacao-a-laser1">% Fotocoagulacao à Laser</label>
					<br>

					<input type="number" value="10" min="0" max="100" id="gonioscopia1" />
					<label for="gonioscopia1">% Gonioscopia</label>
					<br>

					<input type="number" value="10" min="0" max="100" id="mapeamento-de-retina1" />
					<label for="mapeamento-de-retina1">% Mapeamento de Retina</label>
					<br>

					<input type="number" value="10" min="0" max="100" id="microscopia1" />
					<label for="microscopia1">% Microscopia</label>
					<br>

					<input type="number" value="10" min="0" max="100" id="pam1" />
					<label for="pam1">% P.A.M.</label>
					<br>

					<input type="number" value="10" min="0" max="100" id="paquimetria1" />
					<label for="paquimetria1">% Paquimetria</label>
					<br>

					<input type="number" value="10" min="0" max="100" id="retinografia1" />
					<label for="retinografia1">% Retinografia</label>
					<br>

					<input type="number" value="10" min="0" max="100" id="tonometria1" />
					<label for="tonometria1">% Tonometria</label>
					<br>

					<input type="number" value="10" min="0" max="100" id="ceratoscopia1" />
					<label for="ceratoscopia1">% Ceratoscopia</label>
					<br>

					<input type="number" value="10" min="0" max="100" id="oct1" />
					<label for="oct1">% OCT</label>
					<br>

					<button class="button-save" onclick="calculateMonthRelatorio()">Calcular</button>			
					<br>
					<!-- Checkbox end-->

				</div>
				<!-- Exames end-->
			</div>

			<div class="right-side" id="right-side">

				<div class="relatorio-month-card">

					<div class="relatorio-name-date">
						<div class="label-rel" for="text-name">Nome: </div>
						<div class="text-div" id="text-name"></div>
					</div>
					<div class="relatorio-name-date">
						<div class="label-rel" for="text-date">Data: </div>
						<div class="text-div" id="text-date"></div>
					</div>
					<hr />

					<table>
						<tr>
							<th>Exames</th>
							<th>Quantidade</th>
							<th>Valor total</th>
							<th>%</th>
							<th>Valor em %</th>
						</tr>
						<tr>
							<td>Biometria</td>
							<td id="bio-quant"></td>
							<td id="bio-valor-total"></td>
							<td id="bio-percent"></td>
							<td id="bio-perc-total"></td>
						</tr>
						<tr>
							<td>Campimetria</td>
							<td id="cam-quant"></td>
							<td id="cam-valor-total"></td>
							<td id="cam-percent"></td>
							<td id="cam-perc-total"></td>
						</tr>
						<tr>
							<td>Capsulotomia</td>
							<td id="cap-quant"></td>
							<td id="cap-valor-total"></td>
							<td id="cap-percent"></td>
							<td id="cap-perc-total"></td>
						</tr>
						<tr>
							<td>Curva Tensional</td>
							<td id="cte-quant"></td>
							<td id="cte-valor-total"></td>
							<td id="cte-percent"></td>
							<td id="cte-perc-total"></td>
						</tr>
						<tr>
							<td>Teste Ortóptico</td>
							<td id="tor-quant"></td>
							<td id="tor-valor-total"></td>
							<td id="tor-percent"></td>
							<td id="tor-perc-total"></td>
						</tr>
						<tr>
							<td>Fotocoagulacao à Laser</td>
							<td id="fot-quant"></td>
							<td id="fot-valor-total"></td>
							<td id="fot-percent"></td>
							<td id="fot-perc-total"></td>
						</tr>
						<tr>
							<td>Gonioscopia</td>
							<td id="gon-quant"></td>
							<td id="gon-valor-total"></td>
							<td id="gon-percent"></td>
							<td id="gon-perc-total"></td>
						</tr>
						<tr>
							<td>Mapeamento de Retina</td>
							<td id="map-quant"></td>
							<td id="map-valor-total"></td>
							<td id="map-percent"></td>
							<td id="map-perc-total"></td>
						</tr>
						<tr>
							<td>Microscopia</td>
							<td id="mic-quant"></td>
							<td id="mic-valor-total"></td>
							<td id="mic-percent"></td>
							<td id="mic-perc-total"></td>
						</tr>
						<tr>
							<td>P.A.M.</td>
							<td id="pam-quant"></td>
							<td id="pam-valor-total"></td>
							<td id="pam-percent"></td>
							<td id="pam-perc-total"></td>
						</tr>
						<tr>
							<td>Paquimetria</td>
							<td id="paq-quant"></td>
							<td id="paq-valor-total"></td>
							<td id="paq-percent"></td>
							<td id="paq-perc-total"></td>
						</tr>
						<tr>
							<td>Retinografia</td>
							<td id="ret-quant"></td>
							<td id="ret-valor-total"></td>
							<td id="ret-percent"></td>
							<td id="ret-perc-total"></td>
						</tr>
						<tr>
							<td>Tonometria</td>
							<td id="ton-quant"></td>
							<td id="ton-valor-total"></td>
							<td id="ton-percent"></td>
							<td id="ton-perc-total"></td>
						</tr>
						<tr>
							<td>Ceratoscopia</td>
							<td id="cer-quant"></td>
							<td id="cer-valor-total"></td>
							<td id="cer-percent"></td>
							<td id="cer-perc-total"></td>
						</tr>
						<tr>
							<td>OCT</td>
							<td id="oct-quant"></td>
							<td id="oct-valor-total"></td>
							<td id="oct-percent"></td>
							<td id="oct-perc-total"></td>
						</tr>
						<tr>
						    <td> </td>
						</tr>

						<tr>
							<th></th>
							<th>Valor total</th>
							<td id="valor-total"></td>
							<th>Valor em %</th>
							<td id="valor-perc-total"></td>
						</tr>

					</table>
					
					<button class="button-save" onclick="printDiv('right-side')">Imprimir</button>

				</div>

			</div>

		</div>

	</div>

</body>

</html>