<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" th:href="@{/css/privacy-and-policy.css}" />
	<link rel="icon" type="image/x-icon" th:href="@{/img/imav-icon.jpg}">
	<title>Política de Privacidade</title>
</head>

<body>
	<nav class="nav-bar">
		<ul class="ul-div">
			<li class="li-div"><a th:href="login">Voltar</a></li>
		</ul>
	</nav>

	<div class="policy">
		<h1>
			Política de Mensagens Aplicativo de Mensagens automatizadas da IMAV -
			Instituto de Medicina Avançada da Visão Rudge Ramos.
		</h1>

		<p>Última alteração: 31 de maio de 2023</p>
		<p>
			Esta política rege seu uso dos Serviços disponibilizados através do
			aplicativo de mensagens.
		</p>

		<ul>
			<li>App IMAV</li>
			<li>
				Este aplicativo utiliza as APIs oficiais do META - WhatsApp Business.
			</li>
			<li>
				Este aplicativo tem a finalidade de prover informações sobre a nossa
				clínica de oftalmologia, serviços prestados, atendimentos, e disparo
				de mensagens para confirmações de consultas e agendas dos nossos
				pacientes.
			</li>
		</ul>

		<h2>1. Criar uma experiência de qualidade</h2>

		<ul>
			<li>
				Nossos pacientes serão informados de suas consultas através de
				mensagens enviadas por nós via WhatsApp Business.
			</li>
			<li>
				A clínica IMAV não disponibiliza números de telefone, cadastros, ou
				quaisquer outros dados de seus pacientes a terceiros.
			</li>
			<li>
				Nós apenas entramos em contato com usuários do WhatsApp após nossos
				pacientes fornecerem seus números de celular e eles terem concordado
				em ser contatados por nós via WhatsApp.
			</li>
		</ul>

		<h2>
			2. Termos específicos para o envio de mensagens a nossos pacientes que
			possuem uma conta no WhatsApp
		</h2>

		<ul>
			<li>
				As seções abaixo sobre “Adesão” e “Tipos de mensagem aceitáveis” se
				aplicam somente ao WhatsApp para empresas (API do WhatsApp Business).
			</li>
			<li>
				<h3>Adesão:</h3>
			</li>
			<li>
				Para enviar uma mensagem via WhatsApp para uma pessoa, primeiro
				pedimos permissão de adesão que confirme que ela deseja receber
				mensagens futuras nossas no WhatsApp.
			</li>
			<li>A adesão pode ser feita via ligação telefônica.</li>
			<li>
				A adesão pode ser feita na nossa recepção através de nossos
				recepcionistas e via WhatsApp, caso nossos pacientes iniciem uma
				conversa conosco através dele.
			</li>
			<li>
				Para nos ajudar a garantir uma experiência do usuário sólida, analise
				as práticas recomendadas de adesão sugeridas abaixo.
			</li>

			<li>
				<h3>Tipos de mensagens enviadas:</h3>
			</li>
			<li>
				Nossas mensagens seguem os modelos e políticas descritas pelo WhatsApp
				Business.
			</li>
			<li>
				Nosso atendimento é feito através de códigos automatizados, porém, um
				agente humano pode assumir o controle.
			</li>
			<li>
				Informações contendo horários de agendamento dos pacientes e
				informações relevantes ao atendimento delas.
			</li>
			<li>
				A comunicação é feita, na maioria dos casos, através de botões, pois
				facilita a interação de nossos pacientes.
			</li>
			<li>Atendimento na web (apenas no site da empresa)</li>
		</ul>

		<h2>3. Proteção de dados e cumprimento das leis</h2>

		<ul>
			<li>
				Todos os dados e informações coletadas por nós não são compartilhados
				a terceiros.
			</li>
			<li>
				Os dados obtidos por meio de nossa plataforma sobre um usuário
				contatado via WhatsApp são usados para dar suporte à troca de
				mensagens com esse usuário.
			</li>
			<li>
				Não divulgamos cartões de pagamento individual, números de conta
				financeira, números de documentos de identidade ou outras informações
				confidenciais. Todos esses dados são armazenados em nosso banco de
				dados e protegido de terceiros.
			</li>
			<li>
				De acordo com a nova resolução do Conselho Federal de Medicina -
				Resolução CFM nº 2.314/2022 (Publicada no D.O.U. de 05 de maio de
				2022, Seção I, p. 227) - caso haja um atendimento por telemedicina,
				ele deve ser registrado em prontuário médico físico ou no uso de
				sistemas informacionais, em Sistema de Registro Eletrônico de Saúde
				(SRES) do paciente, atendendo aos padrões de representação,
				terminologia e interoperabilidade.
			</li>
			<li>
				Não encaminhamos ou, de qualquer outra forma, compartilhamos
				informações de uma conversa com clientes com nenhum outro cliente.
			</li>
		</ul>

		<h2>4. Usos proibidos e política</h2>

		<ul>
			<li>
				Não utilizamos os Serviços do WhatsApp Business para operar, comprar,
				vender, promover ou facilitar a troca de produtos ou serviços ilegais.
			</li>
			<li>
				Não utilizamos os Serviços do WhatsApp Business para comprar, vender,
				promover ou facilitar a troca de determinados produtos e serviços
				regulamentados ou restritos, conforme determinado a política de
				privacidade do WhatsApp Business:
			</li>
			<li>
				A IMAV não discrimina pessoas injustamente nem sugere uma preferência
				por elas devido a uma característica pessoal, incluindo, entre outros,
				raça, etnia, cor, nacionalidade, cidadania, religião, idade, sexo,
				orientação sexual, identidade de gênero, status familiar, estado
				civil, deficiência ou condição médica ou genética.
			</li>
			<li>
				As mensagens enviadas não incluem conteúdo ofensivo, como materiais
				sexualmente explícitos ou nudez, conforme determinado de acordo com os
				critério adotados pelo WhatsApp Business.
			</li>
		</ul>

		<h2>Práticas adotadas de adesão e mensagens</h2>

		<p>
			A IMAV procura ter conversas de alta qualidade com nossos pacientes,
			essa é nossa prioridade.
		</p>

		<ul>
			<li>Procuramos enviar uma resposta rápida a nossos pacientes.</li>
			<li>
				Procuramos fornecer informações claras sobre agendas e atendimento a
				nossos pacientes.
			</li>
			<li>
				Nossos fluxos de mensagens foram criados para um fácil entendimento e
				aceitação do público. Esse é o intuito desde o início, facilitar a
				comunicação entre nós e os usuários.
			</li>
		</ul>
	</div>
</body>

</html>