<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/stomp.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" th:href="@{/css/register.css}" />
	<title>Novo Usuário</title>
</head>

<body onload="connect()">

	<nav class="nav-bar">
		<ul>
			<li><a onclick="disconnect()" th:href="home">Enviar Agenda</a></li>
			<li><a onclick="disconnect()" th:href="send">Enviar</a></li>
			<li><a onclick="disconnect()" th:href="chat">Chat</a></li>
			<li><a onclick="disconnect()" th:href="confirmation">Confirmação</a></li>
			<div sec:authorize="hasAuthority('ADMIN')">
				<li><a onclick="disconnect()" class="active" th:href="register">Novo Usuário</a></li>
				<li><a onclick="disconnect()" th:href="settings">Configurações</a></li>
			</div>
			<li class="exit">
				<a onclick="disconnect()" th:href="@{/logout}"><i class="fa fa-sign-out fa-1.5x" aria-hidden="true">
						Sair</i></a>
			</li>
			<li class="exit">
				<a onclick="disconnect()" th:href="config"><i class="fa fa-user fa-1.5x" aria-hidden="true"><span>
						</span><span th:remove="tag" sec:authentication="name"> </span></i></a>
			</li>
			<li id="exit" class="exit">
				<!-- Websocket alert goes here -->
			</li>
		</ul>
	</nav>

	<div class="main-div">
		<div class="form-div">
			<div class="container">
				<h3>Novo usuário</h3>
				<hr />

				<label for="nickname"><b>Nome de usuário</b></label>
				<input type="text" placeholder="Nome de usuário" name="nickname" id="nickname" required />

				<label for="email"><b>E-mail</b></label>
				<input type="text" placeholder="E-mail" name="email" id="email" required />

				<label for="psw"><b>Senha</b></label>
				<input type="password" placeholder="Senha" name="psw" id="psw" required />

				<label for="psw-repeat"><b>Confirmar senha</b></label>
				<input type="password" placeholder="Confirmar senha" name="psw-repeat" id="psw-repeat" required />
				<hr />

				<button type="submit" onclick="saveUser()" class="registerbtn">
					Salvar
				</button>
			</div>
		</div>

		<div class="users-container" id="users">
			<table class="table" id="table">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Email</th>
						<th>Nova senha</th>
						<th></th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<!-- Customer head tag goes here -->

				</tbody>
			</table>
		</div>
	</div>

	<script th:src="@{/js/register.js}"></script>

</body>

</html>